<p id="notice"><%= notice %></p>

<h1>Listing Moneyrecords</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Category</th>
      <th>Type</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moneyrecords.each do |moneyrecord| %>
      <tr>
        <td><%= moneyrecord.name %></td>
        <td><%= moneyrecord.category.name %></td>
        <td><%= moneyrecord.category.record_type == 1 ? 'Income' : 'Expense' %></td>
        <td><%= moneyrecord.amount %></td>
        <td><%= link_to 'Show', moneyrecord %></td>
        <td><%= link_to 'Edit', edit_moneyrecord_path(moneyrecord) %></td>
        <td><%= link_to 'Destroy', moneyrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moneyrecord', new_moneyrecord_path %>
