<% provide(:title, 'Reports') %>
<% content_for :main_content do %>

  <% if @moneyrecords.empty? %>

      <%= render 'search_form' %>

      <div class="alert alert-info" role="alert">
        No records found
      </div>

    <% else %>

    <% sum_income = 0 %>
    <% sum_expense = 0 %>

    <%= render 'search_form' %>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left"><%= params[:commit].present? ? 'Search result' : 'Your personal expenses/incomes (last 100 records)' %></h3>
      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Comment</th>
          <th>Category</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Date</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @moneyrecords.each do |moneyrecord| %>
          <tr>
            <td><%= moneyrecord.name %></td>
            <td><%= moneyrecord.category.name %></td>
            <td><%= moneyrecord.category.record_type == 1 ? 'Income' : 'Expense' %></td>
            <td><%= moneyrecord.amount %></td>
            <td><%= moneyrecord.made_at %></td>
            <td><%= link_to 'Details', moneyrecord %></td>
            <td><%= link_to 'Edit', edit_moneyrecord_path(moneyrecord) %></td>
            <td><%= link_to 'Destroy', moneyrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% sum_income += moneyrecord.amount if moneyrecord.category.record_type == 1 and !moneyrecord.amount.nil? %>
          <% sum_expense += moneyrecord.amount if moneyrecord.category.record_type == 0 and !moneyrecord.amount.nil? %>
        <% end %>
        <tr>
          <td colspan="3">Balance</td>
          <td><%= sum_income-sum_expense %></td>
          <td colspan="4"></td>
        </tr>
        </tbody>
      </table>

    </div>

  <% end %>

<% end %>

<%= render 'layouts/userarea' %>
