<%
   case params[:record_type]
      when '1'
        categories_page_title = 'Income categories'
      when '0'
        categories_page_title = 'Expense categories'
      else
        categories_page_title = 'Categories'
      end
%>
<% provide(:title, categories_page_title) %>
<% content_for :main_content do %>

  <% if @category.empty? %>

    <div class="alert alert-info" role="alert">
      You don't have any category. Feel free to add one.
    </div>

    <%= link_to 'New Category', { controller: 'categories', action: 'new', record_type: params[:record_type] },
                class: 'btn btn-primary' %>


    <% else %>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left"><%= params[:record_type] == '1' ? 'Income' : 'Expense' %> categories</h3>
        <%= link_to 'New Category', { controller: 'categories', action: 'new', record_type: params[:record_type] },
                    class: 'btn btn-sm btn-primary pull-right' %>

      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @category.each do |category| %>
          <tr>
            <td><%= link_to category.name, controller: 'moneyrecords', action: 'index', category_id: category.id %></td>
            <% category_type = category.record_type == 1 ? 'Income' : 'Expense' %>
            <td><%= category_type %></td>
            <td>
              <%= link_to 'Add new record', { controller: 'moneyrecords', action: 'new', category_id: category.id }, class: 'btn btn-xs btn-primary' %>
              <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-xs btn-primary' %>
              <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% end %>

<% end %>

<%= render 'layouts/userarea' %>
