<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.each do |category| %>
      <tr>
        <td><%= link_to category.name, controller: 'moneyrecords', action: 'index', category_id: category.id %></td>
        <% category_type = category.record_type == 1 ? 'Income' : 'Expense' %>
          <td><%= category_type %></td>
        <td><%= link_to 'Add new record', controller: 'moneyrecords', action: 'new', category_id: category.id %>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', controller: 'categories', action: 'new', record_type: params[:record_type] %>
