<% provide(:title, "#{@category.name} category") %>
<% content_for :main_content do %>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Categor details</h3>
      </div>

      <div class="panel-body">

        <p>
          <strong>Name:</strong>
          <%= @category.name %>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @category.record_type == 1 ? 'Income' : 'Expense' %>
        </p>

      </div>

    </div>

    <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' %>
    <%= link_to 'Back', categories_path, class: 'btn btn-primary' %>

<% end %>

<%= render 'layouts/userarea' %>
