<% content_for :main_content do %>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Category</div>

      <div class="panel-body">

        <p>
          <strong>Name:</strong>
          <%= @category.name %>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @category.record_type == 1 ? 'Income' : 'Expense' %>
        </p>

      </div>

    </div>

    <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Back', categories_path, class: 'btn btn-sm btn-primary' %>

<% end %>

<%= render 'layouts/userarea' %>
