<div class="list-group">
  <%= link_to 'Incomes', { controller: 'categories', action: 'index', record_type: 1 }, class: 'list-group-item' %>
  <%= link_to 'Expenses', { controller: 'categories', action: 'index', record_type: 0 }, class: 'list-group-item' %>
  <%= link_to 'Reports', moneyrecords_path, class: 'list-group-item' %>
</div>

<div class="panel panel-default">

  <!-- Default panel contents -->
  <div class="panel-heading">Search records</div>

  <div class="panel-body">
    <%= bootstrap_form_tag url: moneyrecords_path, method: 'get' do |f| %>
        <%= f.date_field :date_from, value: params[:date_from] ? params[:date_from] : Date.today-1.month %>
        <%= f.date_field :date_to, max: Date.today, value: params[:date_to] ? params[:date_to] : Date.today %>
        <%= f.submit 'Search' %>

        <%= f.static_control hide_label: true do %>
            <%= link_to 'Clear form', moneyrecords_path, class: 'btn btn-default' %>
        <% end %>

    <% end %>
  </div>

</div>

